@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F4F7FA;
}

/* Sorting Arrows for Header Table */

.arrow-down:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 50%;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}



